<% @movies.each do |movie| %>
  <section class="movie">
    <div class="summary">
      <h2>
        <%= movie.title %>
      </h2>
      <h3>
        <%= total_gross(movie) %>
      </h3>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
      <li><%= link_to(movie.title, movie_path(movie)) %>
</li>
    </div>
  </section>
<% end %>